.Nav {
  background-color: white;
  box-shadow: 0px 10px 13px -15px #000000, 0px 20px 15px 5px rgba(0, 0, 0, 0);
  margin-bottom: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-icon {
  color: #e1484b;
  font-size: 2rem;
  padding-top: 3px;
}

.logo h1 {
  font-size: 2.5rem;
  margin: 0px;
  padding: 5px;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color: #e1484b;
}

.logo h1 span {
  color: #e1484b;
}

.Nav p {
  text-align: center;
  letter-spacing: 0.04rem;
  margin-top: -5px;
  margin-left: 34px;
  text-align: center;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.searchbar input {
  background-color: #e0e0e0;
  border: none;
  padding: 5px;
  width: auto;
  color: #5e5e5e;
  text-align: center;
  margin-right: 5px;
}

.search-icon {
  font-size: 1.3rem;
  color: black;
}

.search-icon:hover {
  color: #e1484b;
  cursor: pointer;
}
